<h2>
  <%= t ".page_prefix" %>
  <%= current_profile.first_name %>
  <%= t ".page_suffix" %> 
</h2>

<% if current_profile.goal_reached? %>
  <p> <%= t ".congratulations_message" %><p>
  <p>
    <%= t ".you_have_read" %>
    <%= current_profile.readings_done %>
    <%= t ".books_total" %>
  </p>

<% elsif current_profile.student_books.any? %>
  <p> 
    <%= t ".you_have_read_titles" %>
    <br>
    <% binding.pry %>
    <% current_profile.book_list.each do |title| %>
      <%= title %><br>
    <% end %>
  </p>
  <p>
    <%= t ".you_have_read" %>
    <%= current_profile.readings_done %>
    <%= t ".books_total" %>
  </p>
  <p>
    <%= t ".readings_left_prefix" %>
    <%= current_profile.readings_left %>
    <%= t ".readings_left_suffix" %>
  </p>

<% else %>
  <p><%= t ".you_have_not_read_any" %></p>
<% end %>

<%= link_to t(".direct_to_reading_log"), readings_path %>
