<h2><%= current_user.username %>'s page </h2>

<% if  student_profile_dashboard.readings_left < 1 %>
  <p> CONGRATULATIONS!!  You've reached your goal! <p>
  <p> You have read <%= @readings_done %> books total. </p>

<% elsif current_profile.student_books.any? %>
  <p> 
    You have read the following titles:  <br>
    <% current_profile.book_list.each do |title| %>
      <%= title %><br>
    <% end %>
  </p>
  <p> You have read <%= current_profile.readings_done %> books total. </p>
  <p> You have <%= current_profile.readings_left %> books to go.  </p>


<% else %>  
  <p> You haven't read any books yet. </p>
<% end %>

<%= link_to "Go to your reading log", readings_path %>
