<h2> Add a new child </h2>

<%= form_for @student_profile do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.label :grade_last_year %>
    <%= form.select :grade_last_year, StudentProfile::GRADES %>
  </div>
  <div>
    <%= form.check_box :at_hernandez %>
    <%= form.label :at_hernandez, 'Is this child a Hernandez Student?' %>
  </div>

  <div>
    <%= form.label :username %>
    <%= text_field_tag :username %>
  </div>
  <div>
    <%= form.label :password %>
    <%= text_field_tag :password %>
  </div>
  <div>
    <%= form.submit "Sign your child up" %>
  </div>
<% end %>
