<table border="1">
  <tr>
    <td><b><%= t ".log_entry" %></b></td>
    <td><b><%= t ".title" %></b></td>
    <td><b><%= t ".amount_read" %></b></td>
    <td><b><%= t ".date" %></b></td>
  </tr>
  <% @student.readings.each_with_index do |reading, index| %>
    <tr>
      <td><%= (@student.readings.count - index) %></td>
      <td><%= reading.book_title %></td>
      <td><%= reading.amount_read %></td>
      <td><%= reading.created_at.strftime("%B %d, %Y") %></td>
    </tr>
    <br>
  <% end %>
</table>
