<h1><%= t ".journal_title" %></h1>

<h3><%= t ".add_a_new_book" %></h3>
<%= simple_form_for @book do |form| %> 
  <%= form.input :title %>
  <%= form.input :author %>
  <%= form.button :submit %>
<% end %>

<% if current_profile.student_books.any? %>
  <h3><%= t ".add_an_entry" %></h3>
  <%= simple_form_for @reading do |form| %>
    <%= form.input :title, 
      collection: current_profile.book_list, 
      include_blank: false 
    %>
    <%= form.input :amount_read %>
    <%= form.button :submit%>
  <% end %> 
<% end %> 

<% if @reading_to_be_updated %>
  <h3><%= t ".update_a_reading_header" %></h3>
  <%= simple_form_for @reading_to_be_updated do |form| %>
    <%= form.input :title, 
      collection: current_profile.book_list, 
      include_blank: false 
    %>
    <%= form.input :amount_read %>
    <%= form.button :submit%>
  <% end %> 

<% end %>

<% if current_profile.readings.any? %>
  <h3><%= t ".your_reading_log" %></h3>
  <%= render 'readings/table' %>
<% end %>
