<%= form_for @user do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <%= form.hidden_field :profile, value: :"ParentProfile" %>
  <div>
    <%= form.submit%>
  </div>
<% end %>
