<h2><%= @student.first_name %></h2>

<p>
  <%= @student.first_name %> 
  has read 
  <%= @student.readings.count %>
  books.
</p>

<% if @student.readings.any? %>
  <h3><%= @student.first_name %>'s Reading Log</h3>
    <%= render 'readings/table' %>
<% end %>
